# Ignore node_modules
node_modules/

# Ignore Next.js build and cache
.next/

# Ignore log files
*.log

# Ignore environment variables files
.env

# Ignore dependency directory
package-lock.json
yarn.lock